html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Playrite";
}

body {
  background-image: url("../assets//yellow-bg.jpg");
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: "Playrite";
  src: url("../assets/fonts/PlaywriteNZBasic-Regular.ttf");
}

#root {
  height: 100%;
}

button {
  margin-top: 10px;
  font-family: "Playrite";
}

.correct {
  color: forestgreen;
}

.incorrect {
  color: red;
}
