* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Playrite";
}

body {
  background-image: url("../assets//yellow-bg.jpg");
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: "Playrite";
  src: url("../assets/fonts/PlaywriteNZBasic-Regular.ttf");
}

#root {
  height: 100vh;
  overflow: auto;
}

button {
  margin-top: 10px;
  font-family: "Playrite";
}

.correct {
  color: forestgreen;
}

.incorrect {
  color: red;
}

/* Progress bar */

progress {
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
}

/* fundo da barra */
progress::-webkit-progress-bar {
  background: #e0e0e0;
  border-radius: 4px;
}

/* barra de progresso */
progress::-webkit-progress-value {
  background: #a74b00;
  border-radius: 4px;
  transition: width 0.3s ease;
}

/* firefox */
progress::-moz-progress-bar {
  background: #a74b00;
  border-radius: 4px;
}
