html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

.option-label {
  display: block;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 5px;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  border-radius: 5px;
}

.option-label input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.option-label:has(input[type="radio"]:checked) {
  background-color: rgba(255, 208, 0, 0.623);
  color: rgb(48, 48, 48);
}

button {
  margin-top: 10px;
}
