html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Playrite";
}

@font-face {
  font-family: "Playrite";
  src: url("../assets/fonts/PlaywriteNZBasic-Regular.ttf");
}

#root {
  height: 100%;
}

button {
  margin-top: 10px;
  font-family: "Playrite";
}
